Django==3.0.6
Pillow==7.1.2
asgiref==3.2.7
bower==0.0.0
django-postgresql-manager==0.2.1
image==1.5.31
invoke==1.4.1
npm==0.1.1
optional-django==0.1.0
pip==19.2.3
postgres==3.0.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
psycopg2-pool==1.1
py-postgresql==1.2.1
pytz==2020.1
setuptools==41.2.0
six==1.14.0
sqlparse==0.3.1
sudo==1.0.0
sudoaptinstall==0.3
vc==2018.7.10