<!DOCTYPE html>
<html lang="en">
{% extends 'imported.html' %}
<body>
{% block start%}
<header data-block-type="headers" data-id="17" class="">
    <nav id = "navbar-default" class="navbar navbar-default navbar-expand-lg">
      <div class="col-2 text-left">
        <a href="https://www.froala.com">
          <img src="https://cdn.jsdelivr.net/gh/froala/design-blocks@master/dist/imgs//logo.png" height="30" alt="image">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center col-md-8" id="navbarNav4">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item">
            <a class="btn btn-outline-dark" href="add_item/0" contenteditable="false">Add product</a>
          </li>
          <li class="nav-item">
            <a type="button" href='register' class="btn btn-outline-dark">
              Sign Up
            </a>
          </li>
          <li class="nav-item">
            <a type="button" href='authorization' class="btn btn-outline-dark">
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in
            </a>
          </li>
        </ul>
      </div>

      <ul class="navbar-nav col-2 justify-content-end d-none d-md-flex">
        <li class="nav-item">
          <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="yt-ic mr-3" role="button"><i class="fab fa-lg fa-youtube"></i></a>
        </li>
        <li class="nav-item">
          <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="vk-ic mr-3" role="button"><i class="fab fa-lg fa-vk"></i></a>
        </li>
      </ul>
    </nav>
</header>
<div class="container-fluid">
<section class="fdb-block fp-active" data-block-type="call_to_action" data-id="20" draggable="true">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto text-center">
        <a class="btn btn-outline-secondary" href="https://www.froala.com">Download</a>
      </div>

      <div class="col-auto mt-4 mt-sm-0">
        <h2>Use Froala Design Blocks for free in your project</h2>
      </div>
    </div>
</section>
   </div>
<nav class="navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% for cat in cats_nav%}
      <li class="nav-item active">
        <a class="nav-link" href="landing_page/{{cats.name}}">{{cat.name}}</a>
      </li>
      {%endfor%}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
<div class="container">
{% for good in goods%}
  <img src="https://yandex.ru/search/?text=%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0&clid=2233627&lr=213" alt="Card image cap">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <img class="card-img-top" src="https://yadi.sk/i/Emloyb9Mw1tpfw" alt="Card image cap">
        <h5 class="card-title">{{ good.name }}</h5>
      {% if good.previous_price %}
        <p class="card-text" style="text-decoration: line-through; color: #DC143C;">{{ good.previous_price }}</p>
      {% endif %}
        <p class="card-text">{{ good.price }}</p>
        <a href="{{good.get_absolute_url}}" class="btn btn-primary">Buy</a>
    </div>
</div>
{% endfor %}
{% for good in sales_goods%}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ good.name }}</h5>
        <p class="card-text" style="text-decoration: line-through; color: #DC143C;">{{ good.previous_price }}</p>
        <p class="card-text">{{ good.price }}</p>
        <a href="{{good.get_absolute_url}}" class="btn btn-primary">Buy</a>
    </div>
</div>
{% endfor %}
{% endblock%}

</body>
</html>
