<!DOCTYPE html>
{% extends 'base.html' %}
{% block content%}
<div class="container">
{% for good in goods_indexes %}
<div class="row" style="background-color: #e3fff7;height: 600px margin-bottom:0;">
  {% for index in good%}
  <div class="col-md-4" style="background-color: #e3fff7; height: 300px margin-bottom:0;">
    {% if index != -1%}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <img class="card-img-top" src="https://avatars.mds.yandex.net/get-pdb/911433/52a3d6de-d543-4686-a734-bb16ccab119f/s1200?webp=false" alt="Card image cap">
        <h5 class="card-title">{{ index.name }}</h5>
      {% if index.previous_price %}
        <p class="card-text" style="text-decoration: line-through; color: #DC143C;">{{ index.previous_price }}</p>
      {%else%}
      <p></p>
      {% endif %}
        <p class="card-text">{{ index.price }}</p>
        <a href="{{good.get_absolute_url}}" style="background-color: #a5d9cd" class="btn btn-primary">Buy</a>
    </div>
</div>
    {% endif %}
</div>
{% endfor %}
  </div>
  {% endfor %}
  </div>
<div class="container">
{% for good in sales_goods_indexes %}
<div class="row" style="background-color: #1b6d85;height: 600px">
  {% for index in good%}
  <div class="col-md-4" style="background-color: red; height: 300px">
    {% if index != -1%}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <img class="card-img-top" src="https://yadi.sk/i/Emloyb9Mw1tpfw" alt="Card image cap">
        <h5 class="card-title">{{ index.name }}</h5>
      {% if index.previous_price %}
        <p class="card-text" style="text-decoration: line-through; color: #DC143C;">{{ index.previous_price }}</p>
      {% endif %}
        <p class="card-text">{{ index.price }}</p>
        <a href="{{good.get_absolute_url}}" style="background-color: #a5d9cd" class="btn btn-primary">Buy</a>
    </div>
</div>
    {% endif %}
</div>
{% endfor %}
  </div>
  {% endfor %}
  </div>

<section class="fdb-block" data-block-type="pricings" data-id="21" draggable="true">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1>Pricing Plans</h1>
      </div>
    </div>
    <div class="row mt-5 align-items-top">
      {% for object in objects%}
      <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left">
        <div class="rounded">
          <div class="bg-dark p-3 text-center">
            <a href = {{object.get_absolute_url}} class="h2"><strong>{{ object.name }}</strong></a>
          </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0">
        <div class="rounded">
          <div class="bg-dark p-3 text-center">
            <h2 class="font-weight-light">Standard</h2>
            <p class="h2"><strong>$19.90</strong></p>
          </div>

          <div class="bg-gray p-5 text-center">
            <p><img alt="image" height="40" src="https://cdn.jsdelivr.net/gh/froala/design-blocks@master/dist/imgs//icons/monitor.svg"></p>
            <p class="h4"><strong>For medium companies</strong></p>
            <p><br></p>
            <p>10 hours of support</p>
            <p>40MB of storage</p>
            <p>Subdomain</p>

            <p class="text-center pt-5"><a href="https://www.froala.com" class="btn btn-secondary">Choose Plan</a></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0">
        <div class="rounded">
          <div class="bg-dark p-3 text-center">
            <h2 class="font-weight-light">Business</h2>
            <p class="h2"><strong>$29.90</strong></p>
          </div>

          <div class="bg-gray p-5 text-center">
            <p><img alt="image" height="40" src="https://cdn.jsdelivr.net/gh/froala/design-blocks@master/dist/imgs//icons/package.svg"></p>
            <p class="h4"><strong>For large companies</strong></p>
            <p><br></p>
            <p>10 hours of support</p>
            <p>40MB of storage</p>
            <p>Subdomain</p>

            <p class="text-center pt-5"><a href="https://www.froala.com" class="btn btn-secondary">Choose Plan</a></p>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock%}